#about-me {
  --mrg: calc(15px + var(--seperation-600));
  --img-aspect-ratio: calc(600 / 668);
  --img-width: 100vw - (var(--mrg) * 2);
  --img-height: calc(var(--img-width) / var(--img-aspect-ratio));

  padding-top: 0.1px;
}

.my-picture {
  margin: var(--mrg) var(--mrg) 0px;
  height: var(--img-height);
  width: var(--img-width);
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 2;
  box-shadow: 0px 0px 20px black;
  background-image: image-set(
    "../assets/600x/side-profile_small.webp",
    "../assets/1280x/side-profile_small.webp" 2x,
    "../assets/1280x/side-profile_small.webp" 3x,
    "../assets/1920x/side-profile_small.webp" 3.5x,
    "../assets/4000x/side-profile_small.webp" 4x
  );

  & h2 {
    font-size: var(--fs-750);
    letter-spacing: -5px;
    text-shadow: 3px 3px 5px black;
    margin: auto 0px 10px 5px;
    line-height: 1em;
    color: var(--clr-neutral-200);
  }
}

.about-me__content p {
  color: var(--clr-neutral-600);
}

.about-me__content {
  background-color: var(--clr-neutral-200);
  padding-block: 8px;
  position: relative;
}

.about-me__content::before {
  --divider-height: 260px;
  content: "";

  position: absolute;
  top: calc(var(--divider-height) * -1);
  left: 0;

  width: 100%;
  height: var(--divider-height);

  background-color: var(--clr-neutral-200);
  mask-image: url("../assets/divider-triangle.svg");
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

.about-me__content h2 {
  font-size: var(--fs-600);
  letter-spacing: -2px;
  margin-block: 10px;
  text-align: center;
}

.about-me__content__socials {
  text-align: center;
  margin-top: 19px;
}

@media only screen and (min-width: 601px) {
  #about-me {
    --ds-about-me: 100px; /* divistion about me */

    --picture-offset: 70px;
    --picture-top-offset: 7px;
    --picture-position-top: calc(
      var(--ds-about-me) + var(--picture-top-offset) - var(--picture-offset)
    );

    /* change pre-defined variables for current screen */
    --img-width: 42vw;
    --mrg: 0px;

    --about-me__content-mrg-inline: var(--seperation-700);
    --about-me__content-pdt: 6rem; /* padding top content */
    --about-me__content-before-ht: calc(
      var(--img-height) -
        (
          var(--about-me__content-pdt) + var(--ds-about-me) -
            var(--picture-position-top)
        )
    );

    --triangle-pdb: 200px; /* padding bottom */
    --triangle-clr: var(--clr-neutral-200);

    position: relative;
    padding-block: var(--ds-about-me);

    & .socials {
      display: none;
    }
  }

  #about-me::before {
    content: "";
    position: absolute;
    bottom: 0px;
    height: var(--triangle-pdb);
    width: 100vw;
    background-color: var(--triangle-clr);
  }

  #about-me::after {
    --divider-height: 260px;
    content: "";

    position: absolute;
    bottom: var(--triangle-pdb);
    left: 0px;

    width: 100vw;
    height: var(--divider-height);

    background-color: var(--triangle-clr);
    mask-image: url("../assets/divider-triangle.svg");
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
  }

  .about-me__content::before {
    --picture-pad-right: 22px;
    content: "";
    width: calc(
      var(--img-width) - var(--picture-offset) + var(--picture-pad-right)
    );
    height: var(--about-me__content-before-ht);
    float: left;
    position: static;
    background-color: transparent;
  }

  .about-me__content {
    margin-inline: var(--about-me__content-mrg-inline);
    box-shadow: 10px 10px 10px black;
    padding-block: var(--about-me__content-pdt) 5rem;
    padding-inline: 2rem 0.875rem;
    z-index: 1;
  }

  .my-picture {
    --size-factor: 150px;
    position: absolute;
    z-index: 3;
    left: calc(
      var(--about-me__content-mrg-inline) - var(--picture-offset) + 40px
    );
    top: var(--picture-position-top);
    box-shadow: 0px 0px 10px #00000085;

    & h2 {
      transform: translate(
        calc(var(--img-width) - 90px),
        calc((var(--img-height) * -1) + 100% + 20px)
      );
    }
  }

  #my-work {
    margin-inline: var(--seperation-700);

    & h2 {
      text-align: left;
    }

    & .my-work__projects {
      grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
      column-gap: 30px;

      & .project--battleship .__screenshot {
        object-position: left top;
      }
    }
  }

  #my-work > * {
    padding-inline: 0px;
  }
}
