@import url("./utility.css");

@media only screen and (max-width: 640px) {
	.my-picture {
		background-image: image-set(
			"../pictures/side-profile/640px_wide/small.jpg",
			"../pictures/side-profile/640px_wide/regular.jpg" 2x,
			"../pictures/side-profile/640px_wide/large.jpg" 3x,
			"../pictures/side-profile/640px_wide/original.jpg" 4x
		);
	}
}

main > section > * {
	padding-inline: var(--seperation-600);
}

#about-me {
	padding-top: 0.01px;
	color: var(--clr-secondary);
}

.my-picture {
	--image-ratio: 0.919;
	--mrg: calc(15px + var(--seperation-600));

	margin: var(--mrg) var(--mrg) 20px;
	min-height: calc((100vw - (var(--mrg) * 2)) / var(--image-ratio));
	display: flex;
	background-repeat: no-repeat;
	background-size: 100% auto;
	position: relative;
	z-index: 2;
	box-shadow: 5px 5px 10px hsla(0, 0%, 12.5%, 0.26);
}

.my-picture h2 {
	font-size: 3rem;
	letter-spacing: -5px;
	text-shadow: 3px 3px 5px black;
	margin: auto 0px 10px 5px;
	line-height: 1em;
}

.about-me__content {
	--divider-height: 30vw;
	background-color: var(--clr-secondary);
	color: var(--clr-primary);
	padding-block: 8px;
	margin-bottom: 50px;
	position: relative;
}

.about-me__content::before {
	content: "";

	position: absolute;
	top: calc(var(--divider-height) * -1);
	left: 0;

	width: 100%;
	height: var(--divider-height);

	background-color: white;
	mask-image: url("../pictures/divider-triangle.svg");
	mask-repeat: no-repeat;
	mask-size: 100% 100%;
}

.about-me__content h2 {
	font-size: 2rem;
	letter-spacing: -2px;
	margin-block: 10px;
	text-align: center;
}
