#my-work {
	--brd-project: solid 1px black;

	margin-top: 50px;
	height: 100px;
}

.my-work__projects {
	display: flex;
	/* flex-wrap: wrap; */
	gap: 50px;
}

.heading {
	text-align: center;
	font-size: 2rem;
	letter-spacing: -2px;
	margin-bottom: 25px;
}

.project {
	--icn-link-width: 20px;
	--pd: 15px;

	display: grid;
	grid-auto-rows: max-content;
	grid-template: 5fr repeat(2, auto) / 1fr repeat(2, var(--icn-link-width));
	column-gap: 5px;
	width: 100%;
	border: var(--brd-project);
	padding: var(--pd) var(--pd);

	& .__name {
		margin-block: 10px;
	}

	& .__link {
		align-self: center;
	}

	& .__screenshot {
		object-fit: cover;
		height: 100%;
		grid-column: 1 / -1;
		border-bottom: solid 1px black;
		padding-bottom: 5px;
	}

	& .__description {
		grid-column: 1 / -1;
		color: var(--clr-primary-300);
		font-size: var(--fs-300);
	}

	&.battleship {
		.screenshot {
			object-position: center top;
		}
	}
}
