@import url("../fonts/nunito-webfont/stylesheet.css");
@import url("../fonts/latin-modern-roman/stylesheet.css");
@import url("./background-pattern.css");

:root {
	/************************
	 * COLOR
	 ************************/
	--clr-blue: #0000ff1f;
	--clr-red: #ff00008a;
	--clr-neutral-100: white;
	--clr-neutral-110: #00000052;
	--clr-neutral-200: #eaeaea;
	--clr-neutral-600: #515151;
	--clr-neutral-700: #3f3f3f;
	--clr-neutral-800: black;
	--clr-accent-400: var(--clr-red);
	--clr-accent-500: var(--clr-blue);
	--clr-semantic_valid: green;
	--clr-semantic_invalid: red;
	--clr-semantic_warning: orange;

	--bg-image-accent: linear-gradient(
		var(--clr-accent-500),
		var(--clr-accent-400)
	);

	/************************
	 * FONT FAMILY
	 ************************/
	--ff-heading-regular: "latin_modern_roman_caps10Rg", serif, monospace;
	--ff-heading-bold: "latin_modern_roman10_bold", serif, monospace;

	--ff-txt-light: "nunitolight", sans-serif;
	--ff-txt-regular: "nunitoregular", sans-serif;
	--ff-txt-regular_italic: "nunitoregular_italic", sans-serif;
	--ff-txt-bold: "nunitobold", sans-serif;
	--ff-txt-bold_italic: "nunitobold_italic", sans-serif;

	/************************
	 * FONT SIZE
	 ************************/
	--fs-600: 1.8rem;
	--fs-500: 1.25rem;
	--fs-400: 1rem;
	--fs-300: 0.875rem;
	--fs-100: 0.75rem;

	--seperation-600: 1.2rem;

	/************************
	 * SCREEN WIDTH
	 ************************/
	--sw-small-max: 600px;
	--sw-regular-min: 601px;
	--sw-regular-max: 1200px;
	--sw-large-min: 1201px;
}

em,
i {
	font-family: var(--ff-txt-regular_italic);
}

strong,
b {
	font-family: var(--ff-txt-bold);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--ff-heading-regular);
	text-transform: uppercase;
	color: var(--clr-primary-400);
}

p,
a,
li {
	font-family: var(--ff-txt-regular);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	font-weight: normal;
	font-style: normal;
}

body {
	line-height: 1.3;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}
